@model OnlineTechStore.Models.Product
@using PagedList.Mvc;
@{
    ViewBag.Title = "CustomerDetails";
}

<style>
    .icon-box {
        background-color: #fff;
        color: black;
        text-align: left;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 4.7px 3.3px rgba(0, 0, 0, 0.048), 0 8.5px 8px rgba(0, 0, 0, 0.06), 0 16.3px 12.9px rgba(0, 0, 0, 0.072), 0 35.8px 25.4px rgba(0, 0, 0, 0.086), 0 90px 60px rgba(0, 0, 0, 0.12);
        /*min-height: 10rem;*/
        /*height:17rem;*/
        width: 100%;
        margin: 1rem auto;
        padding: 20px;
        background: white;
        border-radius: 5px;
    }

        .icon-box img {
            width: 100%;
            height: 5rem;
        }
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-xs-2 mt-1 mt-lg-0 rounded">
            <div class="icon-box  rounded ">
                <div class="form-group">
                    <select class="form-control" id="Payment" name="Payment">
                        <option>Cash on delevrie</option>
                    </select>
                </div>
                <p> @Html.DisplayFor(model => model.Description)</p>
                <div>
                    @if (Model.Stock > 0)
                    {
                        <p>Availble</p>
                    }
                    else
                    {
                        <p>Not Availble</p>
                    }
                </div>
                <a class="btn btn-outline-warning" href="/ShoppingCart/OrderNow/@Model.ID"><i class="fas fa-shopping-cart"></i> Add to cart</a>
            </div>
        </div>
        <div class="col-lg-9 col-xs-6 mt-1 mt-lg-0 rounded">
            <div class="icon-box  rounded ">
                <div>
                    <h4>@Html.DisplayFor(model => model.Name)</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Price)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Weigth)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Weigth)<span> g</span>
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Image)
                        </dt>
                        <dd>
                            <img src="~/Content/images/@Model.Image" style="width:100px;height: 100px;" class="rounded" />
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Category)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Category.Name)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

